my_dataset_folder/deepcopy___math_writing-human/default/0.0.0/d0a406be8326d3b482b5fa8c3a5a2144e7723e13/dataset_info.json
my_dataset_folder/deepcopy___math_writing-human/default/0.0.0/d0a406be8326d3b482b5fa8c3a5a2144e7723e13/math_writing-human-test.arrow
my_dataset_folder/deepcopy___math_writing-human/default/0.0.0/d0a406be8326d3b482b5fa8c3a5a2144e7723e13/math_writing-human-train-00000-of-00003.arrow
my_dataset_folder/deepcopy___math_writing-human/default/0.0.0/d0a406be8326d3b482b5fa8c3a5a2144e7723e13/math_writing-human-train-00001-of-00003.arrow
my_dataset_folder/deepcopy___math_writing-human/default/0.0.0/d0a406be8326d3b482b5fa8c3a5a2144e7723e13/math_writing-human-train-00002-of-00003.arrow
my_dataset_folder/deepcopy___math_writing-human/default/0.0.0/d0a406be8326d3b482b5fa8c3a5a2144e7723e13/math_writing-human-val.arrow
